<ion-header>
  <ion-toolbar>
    <ion-title>
     QR code genarating
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content ion-padding>

  <h1>Click Button To Scan</h1>
 <ion-icon ></ion-icon>
 <button class="button" (click)="Cricket()" block> 
    <!--img class="img" src="C:\project\QRscan\barcode - Copy\src\assets\icon\Cricket.png" -->
</button>
<button class="button1" (click)="gokarting()" block> 
  </button>
  <button class="button2" (click)="scanCode()" block> 
  </button>
  <!--ion-button (click)="scanCode()">
    Scan Code
  </ion-button-->
  
 
  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b> <!--Url of QR code displayed here.-->
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b><!--Url of QR code displayed here.-->
    </p>
  </div>
</ion-content>
 
