.img{
width: 80px;
height: 80px;
}
.button{
    width: 80px;
    height:80px;
    background-color: none;
    background-image: url(C:\project\QRscan\scan\src\assets\icon\Cricket.png);
    background-size: cover;
    border-radius: 50%;
}
.button2{
    width: 80px;
    height:80px;
    background-color: none;
    background-image: url(C:\project\QRscan\scan\src\assets\icon\arcade.jpg);
    background-size: cover;
    border-radius: 50%; 
}
.button1{
    width: 80px;
    height:80px;
    background-color: none;
    background-image: url(C:\project\QRscan\scan\src\assets\icon\gokarting.png);
    background-size: cover;
    border-radius: 50%;
}




